{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/2d8e84536b.js" crossorigin="anonymous"></script>

    <title>{% block title %} {{ title }} {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/favicon.png' %}"/>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/register.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <!--

    -->
</head>

<body>

<!-- ***** Preloader Start ***** -->
<div class="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- Header -->

{% block content %}
<div class="form_wrapper">
    <div class="form_container">
        <div class="title_container">
            <h2>Войти в аккаунт</h2>
            <hr>
        </div>
        <div class="row-form clearfix">
            <div class="">
                <form method="POST">
                    {% csrf_token %}



                    <div class="input_field"><span><i aria-hidden="true" class="fa fa-envelope"></i></span>

                        {{ login_form.email }}
                        {% if login_form.email.errors %}
                        {% for error in login_form.email.errors %}
                        <div class="tool_tip">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if login_form.non_field_errors %}
                        {% for error in login_form.non_field_errors %}
                        <div class="tool_tip">
                            {{ error }}<br>
                        </div>
                        {% endfor %}
                        {% endif %}

                    </div>
                    <div class="input_field"><span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        {{ login_form.password }}
                        {% if login_form.password.errors %}
                        {% for error in login_form.password.errors %}
                        <div class="tool_tip">
                            {{ error }}<br>
                        </div>
                        {% endfor %}
                        {% endif %}



                    </div>
                    <input class="button" type="submit" value="Войти"/>
                </form>
            </div>
        </div>
    </div>
    <div id="text_home" class="d-grid w-100">
        <a href="{% url 'home' %}" class="btn btn-primary btn-lg" type="button">Вернуться на главную</a>
    </div>
    <hr>
    <div id="text_forgot_pw" class="d-grid w-100">
        <a style="font-size: 13px" href="{% url 'password_reset' %}" class="btn btn-primary btn-lg" type="button">Забыли пароль?</a>
    </div>

</div>


{% endblock %}


<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Additional Scripts -->
<script src="{% static 'assets/js/custom.js' %}"></script>
<script src="{% static 'assets/js/owl.js' %}"></script>
<script src="{% static 'assets/js/slick.js' %}"></script>
<script src="{% static 'assets/js/isotope.js' %}"></script>
<script src="{% static 'assets/js/accordions.js' %}"></script>

<script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
        if (!cleared[t.id]) {                      // function makes it static and global
            cleared[t.id] = 1;  // you could use true and false, but that's more typing
            t.value = '';         // with more chance of typos
            t.style.color = '#fff';
        }
    }
</script>

</body>
</html>