<footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="https://www.facebook.com/profile.php?id=100067837552403">Facebook</a></li>
              <li><a href="https://twitter.com/jTbq03rcGqpBXzl">Twitter</a></li>
              <li><a href="https://vk.com/ilya.tahteev">VK</a></li>
              <li><a href="https://www.instagram.com/arius_1404/">Instagram</a></li>
            </ul>
          </div>
          <div class="col-lg-12">
            <div class="copyright-text">
                 Design by: <a>Ilya Takhteyev</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>