{% extends 'pwd_change_base.html' %}
{% load static %}

{% block title %}  Сброс пароля :: {{ block.super }}  {% endblock %}

{% block content %}

<style type="text/css">

    *{
        font-family: 'Roboto', sans-serif;
    }

    .form-gap {
    padding-top: 70px;
}
    .row{
        justify-content: center;
        align-content: center;
    }

    h3, h2, p{
        margin-bottom: 10px;
    }

    .col-md-4{
        border-top: 5px solid #f48840;
        padding: 25px;
        background-color: #fff;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        border-radius: 7px;
        margin-top: 8%;
    }

    input[type=submit]{
        background: #f48840;
        height: 35px;
        line-height: 35px;
        width: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        color: #fff;
        margin-bottom: 10px;
        font-size: 0.9em;
    }

    #email{
        height: 35px;
    }

    input[type=submit]:hover{
        background-color: #fb9857;
    }

    .form-control:focus{
        box-shadow: none;
        border-color: #f48840;
    }
</style>


<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Забыли пароль?</h2>
                        <p>Мы поможем Вам восстановить его</p>
                        <div class="panel-body">

                            <form id="register-form" role="form" autocomplete="off" class="form" method="POST">
                                
                                {% csrf_token %}

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input id="email" name="email" placeholder="Email" class="form-control"
                                               type="email" autocomplete="on">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="recover-submit" class="button"
                                           value="Восстановить пароль" type="submit">
                                </div>

                                <input type="hidden" class="hide" name="token" id="token" value="">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}