{% extends 'pwd_change_base.html' %}

{% block title %}  Сброс пароля :: {{ block.super }}  {% endblock %}

{% block content %}

<style>
	.container, .d-flex{
		height: 100vh;
	}

	.d-flex{
		justify-content: center;
		text-align: center;
	}

	.m-auto{
		margin: 0 0 5px 0 !important;
	}

	.m-auto a{
		color: #f48840;
	}

	.m-auto a:hover{
		color: #fb9857;
	}
</style>

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    На указанный электронный адрес было отправлено письмо со ссылкой для изменения пароля.
		    Если Вы указали корректный адрес, то вскоре получите данное письмо
		  </p>
		  <p class="m-auto p-2">
		    Если Вы не получили письмо, убедитесь, что был введен правильный адрес, а также не забудьте проверить папку "Спам".
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'home' %}">Вернуться на главную</a></p>
	</div>
</div>

{% endblock %}